:root {
    --bg-primary: #ffffff;
    --text-primary: #333333;
  }
  
  .dark {
    --bg-primary: #1a202c;
    --text-primary: #e2e8f0;
  }
  
  /* body {
    background-color: var(--bg-primary);
    color: var(--text-primary);
    transition: background-color 0.3s, color 0.3s;
  } */
  
  .theme-toggle {
    background: none;
    border: none;
    cursor: pointer;
    padding: 8px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease;
    color: var(--text-primary);
    font-size: 20px;
    margin-right: 10px;
  }
  
  .theme-toggle:hover {
    transform: scale(1.1);
  }